<%= javascript_pack_tag 'BootstrapTableinit' %>
<div id="screen_id" ></div>
<div id="form_id" ></div>
<script >
    function showfields() {
        var field_names = <%=raw @show_columns.to_json  %>;
        return field_names;
    }
    function showrecords() {
        var records = <%=raw @show_records.to_json  %>;
        return records;
    }
    function showscreenprop(conts) {
        var prop = <%=raw @screen_prop.to_json  %>;
        return prop[conts];
    }
</script>
<style>
</style>