
  
.react-tabs--selected_custom_head {
    min-width: 64px;
    line-height: 32px;
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    color: #fff;
    background: rgb(106, 209, 250);
  }

  .react-tabs--selected_custom_detail {
    min-width: 64px;
    line-height: 32px;
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    color: #fff;
    background: rgb(148, 188, 247);
  }
  
