$easeOutQuad = cubic-bezier(0.250, 0.460, 0.450, 0.940)
$easeOutBack = cubic-bezier(0.175,  0.885, 0.320, 1.275)
$expandSize = 7px

input-select-style()
  border: 1px solid rgba(0,0,0,0.1)
  background: white
  padding: 5px 7px
  font-size: inherit
  border-radius: 3px
  font-weight: normal
  outline:none

.ReactTable
  position:relative
  display: flex
  flex-direction: column
  border: 1px solid alpha(black, .1)
  *
    box-sizing: border-box
  
  &.-striped-custom
    .rt-tr.-odd
      background: alpha(black, .10)
  &.-highlight_custom
    .rt-tbody
      .rt-tr:not(.-padRow):hover
        background: alpha(yellow, .05)

 