<%= javascript_pack_tag 'menu_react' %>
<h1>Menus#index</h1>
<p class='btn btn-default'>  Find me in app/views/menus/index.html.erb</p>
<div id="menu"></div>
<script>
    function addStatement() {
        var testname = "AAAAAAA"
        return testname;
    };
</script>